nav {
    background-color: cadetblue;
    height: 50px;
    padding: 2px;
    color: white !important;

    .cart {
        color: white !important;
        line-height: 44px;
    }

    .headerTitle {
        font-family: 'Playfair Display', serif;
    }

    .total {
        display: inline-block;
        margin-left: 20px;
    }
}