body {
    box-sizing: border-box;
}

ul {
    margin-left: auto;

    li {
        height: 450px;
        list-style: none;
        text-align: center;
        margin: 15px;
        width: 250px;
        float: left;
    }
}

img {
    height: 250px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 5px;
    margin: 0;
}

h5 {
    height: 40px;
}